*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(115, 122, 128);
}
.header{
    background-color:hsl(223, 18%, 92%);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius:2%;
    margin-bottom: 3px;
    box-shadow: 1px 1px 5px 1px #0b0a0a;
}
.brand-name{
    font-size: 30px;
    color: rgb(43, 38, 38);
    width: 50%;
}
.nav{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}
.nav_list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(39, 28, 28);
}
.main-part{
    margin: 0%;
}
.hero-row{
    width: 100%;
    height: 100vh;
    background-image: url('resource/Video Graphy WEDDING CINEMA.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: inline-block
}
.hero-title{
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-right: 10px;
    color: rgb(22, 19, 19);
    
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 60%;
    margin-top: 15%;
    margin-right: 10%;
    
}
.logo:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 5px 1px #bfd47f;
}
.service-title{
    text-align: center;
    margin: 5%;
    color: rgb(16, 13, 13);
    box-shadow: 0px 4px 5px 4px #1e3f0d;
}
.services-1{
    display: flex;
    justify-content: space-evenly;

}
.photo-1-image{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: solid 2px #eddada;
    margin: 10px;
}
.photo-1-image:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 5px 1px #bfd47f;
}
.photo-1{
    margin: 5px;
}
.photo-1-disc-text{
    margin-top: 80px;
    margin-left: 10px;
    color: rgb(11, 9, 9);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.services-2{
    width: 100%;
    height: 100vh;
    background-image: url('resource/wedding.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0b0a0a;
    margin: 50px 10px 10px 10px;
}
.services-2:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 5px 1px #bfd47f;
}
.photo-2-disc-text{
    padding-top:20%;
    padding-right: 40%;
    padding-left: 12%;
    text-align: center;
    color:rgb(202, 219, 202);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.services-3{
    width: 100vw;
    height: 150vh;
    display: flex;
    margin-bottom: 0%;
}
.photo-3{
    width: 100%;
    height: 100vw;
}
.photo-3-image{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0b0a0a;
    margin: 50px 10px 10px 10px;
    
}
.photo-3-image:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 5px 1px #bfd47f;
}
.photo-4-image{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0b0a0a;
    margin: 10px 10px 0px 10px;
}
.photo-4-image:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 5px 1px #bfd47f;
}

.photo-3-disc-text{
    text-align: center;
    color: rgb(16, 13, 13);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.services-4{
    display: flex;
    margin-top: 4%;
    
   
}
.photo-5{
    width: 90%;
    height: 35vw;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #e2f583;
    margin: -10px 10px 10px 10px;
}
.photo-5:hover{
    transform: scale(1.06);
    box-shadow: 1px 1px 5px 1px #080905;
}
.card-disc{
    margin-left: 40px;
    color: rgb(16, 13, 13);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}